[submodule "external/referral"]
	path = external/referral
	url = ../referral.git
[submodule "external/dzr-plays"]
	path = external/dzr-plays
	url = ../dzr-plays.git
[submodule "external/dzdb"]
	path = external/dzdb
	url = ../dzdb.git
[submodule "external/jadata-samples"]
	path = external/jadata-samples
	url = ../jadata-samples.git
[submodule "external/dz-artist"]
	path = external/dz-artist
	url = ../dz-artist.git
[submodule "external/dztxt-data"]
	path = external/dztxt-data
	url = ../dztxt-data.git
